 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Software developer focusing on web development. One time I spent a week reading the ECMAScript manual at the library, JS is my love 💛. Cutting-edge technology is cool. Open source is cooler.</p>
                </div>
                <div class="col-lg-4">
                    <p>I'd like to think of myself as an artist. The browser is my canvas. The editor, my brush; and all the languages and tech stacks, my inks and palettes. Programming is art, make it beautiful. </p>
                </div>
            </div>
        </div>
    </section>
